/* This is a 'stylesheet'. 
It defines how the elements appear when they are rendered by the browser. */

html {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  font-family: monospace;
  color:white;
  height: 100%;
  justify-content: center;
}

button {
  position: absolute;
  border-radius: 8px;
  font-size: 20pt;
  height: 50px;
  width: 300px;
}

div.devil {
  position: absolute;
  top: 100%;
  left: 100%;
  height: 15pt;
  width:  15pt;
  font-size: 20pt;
  border-radius: 50%;
  background: transparent;

}
